.card {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 2.8rem;
}
.card h2 {
  font-size: 1.8rem;
}
.card p {
  font-size: 1.25rem;
  margin-top: 1.5rem;
}

.col {
  padding: 0 1rem;
}
.col span {
  display: block;
  font-size: 1.25rem;
  margin-top: 2rem;
}
.col img {
  margin: 2.5rem auto 0;
}
.dicount {
  color: var(--text-green);
  font-size: 2.5rem;
  margin-top: 1.5rem;
}