.dropMenu {
  background: hsla(0, 0%, 100%, 0.95);
  padding: 1.5rem;
  backdrop-filter: blur(0.5rem);
  position: absolute;
  bottom: -1.5rem;
  right: 0;
  translate: 0 100%;
  max-width: 475px;
  width: 100vw;
  z-index: 2;
}

.lineRight,
.lineLeft,
.lineTop,
.lineBottom {
  background: var(--text-green);
  position: absolute;
}

.lineTop,
.lineBottom {
  height: 1px;
  left: 0.5rem;
  right: 0.5rem;
}
.lineRight,
.lineLeft {
  background: var(--text-green);
  position: absolute;
  top: 0.5rem;
  bottom: 0.5rem;
  width: 1px;
}

.lineTop {
  top: 0.5rem;
  transform-origin: 0% 50%;
}
.lineBottom {
  bottom: 0.5rem;
  transform-origin: 0% 50%;
}

.lineRight {
  right: 0.5rem;
  transform-origin: 50% 0%;
}
.lineLeft {
  left: 0.5rem;
  transform-origin: 50% 0%;
}

.dropMenu h2,
.dropMenu h4{
  color: var(--text-green);
  font-size: 1.5rem;
  margin-bottom: 0.75rem;
}

.itemsList {
  container-type: inline-size;
  container-name: card;
}