.DialogTitle {
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 1.22;
  margin: 0;
}

.greeting {
  padding: 7.5rem 3rem;
}

.form {
  display: grid;
  gap: 1.9rem;
  margin: 0 auto;
  margin-top: 1.9rem;
  max-width: 326px;
  width: 100%;
}

.topRight {
  background: none;
  border: 0;
  color: var(--text-grey);
  font-size: 0.75rem;
  position: absolute;
  right: 0;
  top: 0;
  transform: translateY(-1rem);
}
a.topRight {
  text-decoration: underline;
}
.error {
  color: red;
  opacity: 0;
  font-size: 0.7rem;
  padding-left: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
  transform: translateY(110%);
  transition: 0.2s ease-in;
  width: 100%;
}

.bottom {
  font-size: var(--text-small);
  color: var(--text-grey);
  display: grid;
  gap: var(--text-size);
  margin: 0 auto;
  margin-top: var(--text-size);
  max-width: 326px;
  width: 100%;
}


.bottom h3 {
  font-weight: normal;
  text-decoration: underline;
}

.social {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 0.75rem;
  margin-bottom: 1.7rem;
}
.social button {
  color: var(--text-grey);
  font-size: var(--text-small);
  width: 2rem;
}
.social button svg {
  width: 100%;
}