.card {
  display: flex;
  flex-direction: column;
}
.card h3,
.card h4 {
  font-weight: normal;
}

.productImage {
  height: auto;
  width: 100%;
}

.title {
  font-size: var(--text-size);
  margin-top: 1rem;
}
.subtitle {
  flex: 1;
  display: grid;
  align-items: start;
  font-size: var(--text-size);
  color: var(--text-green);
  margin-top: 0.25rem;
}
.footer {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 2fr;
  margin-top: 1rem;
}
.price {
  color: #747373;
  font-size:var(--size-30);
  line-height: 1;
}
.footer button {
  display: inline-block;
  position: relative;
  font-size: 1rem;
  margin: 0 0 0 auto;
  padding: 0.35rem 1.282rem;
  width: auto;
}
.footer button::before {
  background: var(--text-green);
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  transform: scaleX(0);
  transition: transform 0.2s ease-in;
  transform-origin: 0% 0%;
  top: 0;
  width: 100%;
  z-index: -1;
}
.footer button:hover {
  color: white;
}
.footer button:hover::before {
  transform: scaleX(1);
}
.topContainer {
  position: relative;
}

.actions {
  display: flex;
  gap: 1rem;
  bottom: 0.4rem;
  position: absolute;
  right: 0;
}

.button {
  aspect-ratio: 1;
  border-radius: 200px;
  background: white;
  display: grid;
  opacity: 0;
  padding: 0.3rem;
  place-items: center;
  filter: drop-shadow( var(--drop-shadow-md) );
  transform-origin: 50% 50%;
  transform: scale(0);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  width: 2.2rem
}
.button svg {
  display: block;
  width: 100%;
}
.button:last-of-type {
  transition-delay: 0.05s;
}
.topContainer {
  position: relative;
  transition: transform 0.3s ease-in-out;
              /* filter 0.3s ease-in; */
}


.card:hover .topContainer {
  /* filter: drop-shadow(var(--drop-shadow)); */
  transform: translateY(-5%);
}
.card:hover .button {
  transform: scale(1);
  opacity: 1;
  /* opacity: 0.85; */
}
/* .card .button:hover {
  opacity: 1;
} */
