.wish {
  position: relative;
}
.close {
  position: absolute;
  right: 0;
  z-index: 2;
} 
.image {
  position: relative;
}
.image img {
  transition: 0.3s ease-in;
}
.image button {
  background: white !important;
  bottom: 0.5rem;
  border-radius: 200rem;
  filter: drop-shadow(var(--drop-shadow-md));
  padding: 0.3rem;
  position: absolute;
  scale: 0;
  transition: scale 0.2s ease-in;
  right: 0.5rem;
  height: 1.7rem;
  width: 1.7rem;
}
.wish:hover .image button {
  scale: 1;
}
.title {
  font-size: 0.75rem;
}

.wish svg line,
.wish svg path {
  transition: fill 0.2s ease-in, stroke 0.2s ease-in;
}

/* animations */
.wish:hover {
  --icon-color: var(--danger);
}
.wish:hover .close svg path {
  transform-origin: 50% 50%;
  animation: scale 0.4s ease-out 0.2s;
  animation-fill-mode: forwards;
}
.wish:hover .close svg {
  animation: rotate 0.8s ease-out 0.2s;
}
.wish:hover img {
  scale: 1.02;
  translate: -5% 0;
}
@keyframes rotate {
  0% {
    rotate: 0;
  }
  100% {
    rotate: -180deg;
  }
}
@keyframes scale {
  0%,
  100% {
    scale: 1;
    opacity: 1;
  }
  50% {
    scale: 1.2;
    opacity: 0;
  }
  50.00001% {
    scale: 0;
    opacity: 0;
  }
}