.form {
  background: white;
  display: grid;
  filter: drop-shadow(var(--drop-shadow-md));
  gap: var(--size-30);
  padding: 1.625rem 2.5rem;
  max-width: 704px;
  margin: 0 auto;
}
.row {
  display: grid;
  gap: var(--size-30);
  grid-template-columns: 1fr 1fr;
}

.form fieldset {
  position: relative;
}
.form input,
.form textarea {
  border: 1px solid var(--border-color);
  display: block;
  padding: 0.5rem 0.8rem;
  transition: 0.2s ease-in;
  width: 100%;
}
.form input:focus,
.form textarea:focus {
  border: 1px solid hsl(var(--background-green));
  outline: 0;
  filter: drop-shadow( 0 0 0.1rem hsla(var(--background-green), 1) );
}

.form label {
  font-size: var(--text-small);
  background: white;
  color: var( --text-grey );
  left: 0;
  padding: 0.1em 0.3em;
  position: absolute;
  top: 0;
  transform: translate(0.5rem, -50%);
  z-index: 2;
}

.visibilityHandle {
  cursor: pointer;
  aspect-ratio: 1;
  display: grid;
  opacity: 0.55;
  place-items: center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) scale(1);
  transition: 0.3s ease-out;
  height: 100%;
  width: auto;
}
.visibilityHandle:hover,
.visibilityHandle.active {
  opacity: 1;
}
.visibilityHandle:hover {
  transform: translateY(-50%) scale(1.2);
}

.error {
  color: red;
  opacity: 0;
  font-size: 0.7rem;
  padding-left: 0.8rem;
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: left;
  transform: translateY(110%);
  transition: 0.2s ease-in;
  width: 100%;
}

/* validation */
.form [data-error="true"]:invalid {
  border: 1px solid red;
}
.form [data-error="true"]:invalid ~ label {
  color: red;
  animation: wiggle 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}
.form [data-error="true"]:invalid ~ span {
  opacity: 1;
}
.form [data-error="true"]:focus,
.form [data-error="true"]:focus {
  outline: 0;
  filter: drop-shadow( 0 0 0.1rem hsl(0, 100%, 50%) );
}

@keyframes wiggle {
  0% {
    translate: 0 0;
  }
  33.3333% {
    translate: 0 10%;
  }
  66.6666% {
    translate: 0 -10%;
  }
  100% {
    translate: 0 0;
  }
}