.title {
  color: var(--text-grey);
  display: inline-block;
  font-size: var(--text-size-title);
  font-weight: normal;
  margin-top: 4rem;
}
.title::first-letter {
  color: var(--text-green);
}
.row {
  --col-gap: 2rem;
  --swiper-navigation-sides-offset: -0.1rem;
  --swiper-navigation-color: var(--text-grey);
  margin: 0 calc( var(--col-gap) * -1);
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.row > div[class$="disabled"] {
  opacity: 0;
}
.rowItem {
  padding: 0 var(--col-gap);
  height: 100%;
}
.rowItem > div{
  height: 100%;
}