.title {
  color: var(--text-grey);
  display: inline-block;
  font-size: var(--text-size-title);
  font-weight: normal;
  margin-top: 4rem;
}
.title::first-letter {
  color: var(--text-green);
}
.row {
  --col-gap: 2rem;
  display: flex;
  flex-wrap: nowrap;
  margin: 0 calc( var(--col-gap) * -1);
  margin-top: 3rem;
}
.rowItem {
  padding: 0 var(--col-gap);
}
.rowItem > div{
  height: 100%;
}