.main {
  max-width: var(--max-width);
  min-height: 100vh;
  font-size: var(--text-size);
}

.main h1,
.main h2,
.main h3 {
  font-family: var(--roboto-bold);
}
.main h1 {
  font-size: 2.5rem;
  color: var(--text-green);
  margin: 2rem 0;
}
.main h2 {
  font-size: 1.7rem;
  margin-top: 3rem;
}
.main h3 {
  font-size: var(--text-size);
  margin-top: 1.5rem;
}
.main ul {
  list-style: none;
}
.main p,
.main ul {
  line-height: 1.5;
  margin-top: 1.5em;
}
.main ul {
  list-style-type: none;
  margin-left: 1.5em;
}
.main li {
  margin-top: 0.15em;
  padding-left: 0.5rem;
  position: relative;
}
.main a {
  color: var(--text-green);
}
.main li::before {
  content: '–';
  left: -1.25rem;
  position: absolute;
}
