.card h2 {
  font-size: 1.8rem;
}

.row {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  row-gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 4.5rem;
}
