.error {
  color: red;
  opacity: 0;
  font-size: 0.7rem;
  padding-left: 0.8rem;
  position: absolute;
  bottom: 0;
  transform: translateY(110%);
  transition: 0.2s ease-in;
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 2.8rem;
}
.wrapper h2 {
  font-size: 1.8rem;
  text-align: center;
}