/* Menu */

.DropdownMenuContent {
  border: 1px solid var(--text-grey);
  background: #fff;
  width: var(--radix-dropdown-menu-trigger-width);
}

.form input {
  display: none;
}
.form label {
  display: block;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
}
.form label.active,
.form label:hover {
  background: hsla(0, 0%, 77%, 0.2);
}
.IconButton {
  border: 1px solid var(--text-grey);
  padding: 0.5rem 0.5rem;
  position: relative;
  text-align: left;
  width: 220px;
}
.IconButton::after {
  border: 1px solid var(--text-grey);
  border-top: transparent;
  border-right: transparent;
  display: block;
  content: '';
  right: 0.5em;
  position: absolute;
  top: 50%;
  transform: translateY(-85%) rotate(-45deg);
  transition: transform 0.2s ease-in;
  height: 0.6em;
  width: 0.6em;
}
.opened::after {
  transform: translateY(-15%) rotate(135deg);
} 
.drop {
  border: 1px solid var(--text-grey);
  position: absolute;
  z-index: 4;
  background: white;
  width: 100%;
}