.dropContainer {
  position: relative;
  height: 100%;
}
.overlay{
  bottom: 0;
  content: '';
  display: block;
  left: 0;
  position: absolute;
  transform: translateY(107.5%);
  z-index: 2;
  /* filter: drop-shadow( var(--drop-shadow) ); */
}

/* .overlay.enter-done {
} */

.dropDown {
  background: white;
  min-height: 250px;
  padding: 1.5rem 1.2rem;
  min-width: 600px;
  will-change: clip-path;
}

.dropDownButton {
  background: none;
  border: 0;
  color: var(--text-dark);
  font-size: var(--text-size);;
  padding: 0.2rem;
  padding-right: 1.8rem;
  position: relative;
  transition: 0.3s ease-in-out;
}
.arrow {
  display: inline-block;
  height: 0.85rem;
  position: absolute;
  right: 0.2rem;
  top: 50%;
  transform: translateY(-25%);
  transition: 0.2s ease-in;
  pointer-events: none;
  width: 0.85rem;
}

.dropDownButton.active {
  color: #fefefe;
}
.dropDownButton.active .arrow {
  transform: translateY(-45%) rotate(0);
}

.dropDownButton:hover {
  color: #fefefe;
}

.list {
  column-gap: 7.5rem;
  column-count: 2;
  column-width: 250px;
  font-size: var(--text-size);;
  line-height: 1;
  list-style: none;
  min-width: 676px;
}
.list li {
  overflow: hidden;
  position: relative;
  height: var(--text-size);
}
.list a {
  display: block;
  /* transform-origin: 100% 0; */
  transition: color 0.2s ease-in-out;
  /* will-change: transform; */
  position: absolute;
}
.list li + li {
  margin-top: 1rem;
}