.wrapper {
  display: grid;
  position: relative;
}
.content {
  width: 100%;
  /* position: relative; */
  /* will-change: transform, opacity, filter; */
}
.tabsRow ul{
  list-style: none;
  display: flex;
  gap: var(--size-30);
  margin: 4.5rem 0 var(--size-30);
}
.tabsRow li {
  display: block;
  position: relative;
}
.tabsRow li ~ li {
  border-left: 1px solid var(--text-dark);
  padding-left: var(--size-30);;
}
.button {
  color: var(--text-grey);
  overflow: hidden;
  padding: 0.3rem 0.3rem;
  position: relative;
}
/* .underline {
  display: block;
  background: var(--text-green);
  position: absolute;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 1px;
  width: 100%;
} */

.active,
.button:hover,
.button:focus {
  color: var(--text-green);
}
.active::after{
  transform: translateY(-6px);
}

.delimiter {
  background: #000;
  align-self: stretch;
  width: 1px;
}